.header-main .container {
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  }
.container { 
flex-direction: column;  
align-items: center; 
}

.header-main .container {
align-items: flex-start;
justify-content: space-between;
flex-direction: row;
display: flex;
align-items: center;
}
.header-size {
display: flex;
align-items: center;
}
.logo {
display: flex;
align-items: center;
margin-right: 76px;
}

.header-nav-list:last-child {
  margin-right: 0;
}

img {
  display: block
}


.logo_subtext {
  color: #2e2f42;
}


.contact-details {
  font-style: normal;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.contact-info:last-child {
  margin-right: 0;
}

.contact-info-list:hover,
.contact-info-list:focus {
  color: #404bbf;
}
.section-hero {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/bg-image.jpg');
background-size: cover;  /* Ensures the image covers the whole screen */
background-repeat: no-repeat; /* Prevents tiling */
text-align: center;
padding: 188px 0;
max-width: 1440px;
margin: 0 auto;
background-position: center;
}

.hero-section-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
}
.hero-btn .container {
  display: flex;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hero-btn:hover,
.hero-btn:focus {
  background-color: #404BBF;
}
.box-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
margin-bottom: 8px;
}
.advantages-section {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 8px;
padding-top: 120px;
padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-list-main {
  display: flex;
  gap: 24px;
}
.advantages-list {
  width: calc((100% - 72px) / 4); 
}

.advantages-list-item {
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.advantages-list-descr {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/*Section 3*/

.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  background-color: #f4f4fd;
}
.team-title-main {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;
}
.team-title-list {
  display: flex;
  gap: 24px;
}
.team-title-list:last-child {
margin-right: 0;
}


.team-title-list-item {
background-color: #ffffff;
width: calc((100%-72px)/4);
border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}
.container-name {
  padding: 32px 0;
 background: #fff;
border-radius: 0 0 4px 4px;

}

.team-member-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}
.team-member-name-desr {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
.member-social {
display: flex;
justify-content: center;
gap: 24px;
}
.member-list-item {
  width: 40px;
  height: 40px;
 
}
.member-social-link {
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
width: 100%;
height: 100%;
background-color: #4D5AE5;
fill: #f4f4fd;
margin-top: 8px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-social-link:hover, 
.member-social-link:focus {
  background-color: #404bbf;

}
.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-section-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;
}


.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-hover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: var(--text-color, #f4f4fd);
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-hover-text {
  transform: translateY(0%);
}

.list-portf-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-name {
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-list-description {
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.section-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.logo-text-footer {
  color: #f4f4fd;
}
.section-footer .container {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}
.section-footer .container .paragraph {
  flex-direction: column;
}

.paragraph {
  margin-right: 120px;
 
}
.section-footer-descr {
  max-width: 264px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.social-icons-list {
display: flex;
gap: 16px;
list-style: none;

}
.social-icons-item {
  width: 40px;
  height: 40px;
 
}

.social-footer-descr {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;
margin-bottom: 16px;
}
.social-list-link {
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #31d0aa;
}
.social-icons {
  fill: #f4f4fd;
}
.subscribe-box {
   margin-left: 80px;
  }
.subscribe-title {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
  }
.subscribe-form {
border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
gap: 24px;
display: flex;
  }
.form-input {
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding: 8px 16px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
background-color: transparent;
color: #ffffff;
  }
  .form-input::placeholder {
    color: #ffffff;
  }

.mail-form-btn {
  display: flex;
  justify-content: center;
}
  .subscribe-btn {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
border-radius: 4px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
min-width: 165px;
height: 40px;
border: none;
background: #4d5ae5;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe-btn:hover, 
  .subscribe-btn:focus {
    background-color: #404bbf;
  }
  .subscribe-icon {
    margin-left: 16px;
  }


  /* Modal Window */
  .modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px; 
  }
  .modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-btn:hover, 
  .modal-btn:focus {
    background-color: #404BBF;
    border: none;
    fill: #ffffff;
  }
  .modal-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
   
  .contact-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  }
  .input-group {
  margin-bottom: 8px; 
  }
.contact-label {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
display: block;
margin-bottom: 4px;
  }
  .input-icon {
    position: relative;
  }
.input-icons-footer {
width: 100%;
height: 40px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.input-name:focus+.name-icon {
 fill: #4d5ae5;
  }
.input-icons-footer:focus {
    border-color: #4d5ae5;
  }
 
  .input-group-comment {
  margin-bottom: 16px;
  }
  .name-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .input-icons-footer:focus+.name-icon {
    fill: #4d5ae5;
  }
  .text-input {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .text-input:focus {
    border-color: #4D5AE5;
  }
  .checkbox-container {
    margin-bottom: 24px;
  }
  .label-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;

}
.privacy-color {
width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
margin-right: 8px; /* Adds space between checkbox and text */

}
.checkbox-input:checked+ .label-privacy .privacy-color {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.privacy-link {
  color: #4d5ae5;
}
.btn-last {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  gap: 10px;
  text-align: center;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}